<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>Wipe: {{.Title}} - Page {{.CurPage}}</title>
    <meta name="description" content="">
    <meta name="author" content="coyove">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/logo.png">
    <link href="/style.css" rel="stylesheet">
</head>

<body>

<div id="wrapper">
    <div id="header">
        <a href="/"><img align="left" class="logo" src="/logo.png" alt="logo" style="margin-top:20px;height:100px"></a>
        <p>Wipe <span style="color:white">your ass</span></p>
    </div>

    <hr class="nocss">
    <div id="content">

{{range .Articles}}
    <div class="article">
        <div class="content-title">
            <a href="/blog/{{.URI}}"><h1>{{.Title}}</h1></a>
            {{.Date}}

            by <a class="url fn" href="/author/{{.Author}}/">{{.Author}}</a>

            {{if .Tags}}
            with tags 
            {{range $tag, $v := .Tags}}
                <a href="/tag/{{$tag}}">{{$tag}}</a> 
            {{end}}
            {{end}}
        </div>

        <div class="_content {{if not $.ArticleEntered}} content{{end}}">{{.Content}}</div>
        <hr>
    </div>
{{end}}

    <p class="paginator">
        {{if ne .CurPage 1}}
        <a href="{{.PrevPageLink}}">«</a>
        {{end}}
        
        Page {{.CurPage}} / {{.TotalPages}}

        {{if ne .CurPage .TotalPages}}
        <a href="{{.NextPageLink}}">»</a>
        {{end}}
    </p>

    {{if .ArticleEntered}}
    <div id="disqus_thread" style="margin: 4px 0"></div>
    <script>
    
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://wipecyv.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>    
    {{end}}

    </div>

    <div id="rightcolumn">

            <hr class="nocss">
            <div class="lateral" style="padding: 8px 0;">
            <h1>标签</h1>
                <ul class="nav-list">
                    {{range $tag, $v := .Tags}}
                    <li><a href="/tag/{{$tag}}">{{$tag}}</a> ({{len $v}})</li>
                    {{end}}
                </ul>
            </div>

            <hr class="nocss">
            <div class="lateral" style="padding: 8px 0;">
            <h1>其它</h1>
                <ul class="nav-list">
                <li><a href="/">主页</a></li>
                <li><a href="/blog/about.html">关于</a></li>
                <li><a href="https://github.com/coyove/blog">源代码</a></li>
                <li><a href="/rss.xml">RSS</a></li>
                </ul>
            </div>

    </div>

    <hr class="nocss">
    <div id="footer">
        <p>Man's reach, exceeds his imagination</p>
    </div>

</div>

</body></html>